{% extends 'base_auth.html' %}
{% load static %}
{% block content %}

<div class="row" style="margin-top: 8%;">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="card-title pb-2">
          <h4 style="display: inline-flex; text-align:center;">Enter email to reset password</h4>
          <hr>
        </div>
        <form method="post">
          {% csrf_token %}
          {% include 'partials/messages.html' %}
          <div class="mb-3">
            <input type="email" name="email" class="form-control" placeholder="Email Address" id="EmailField" value="{{ values.email }}" required>
          </div>
          <input style="width: 100%;" type="submit" class="btn btn-block btn-primary submit-btn mt-3" value="Submit">
        </form>
        <div class="container">
          <span class="mt-2">Already have an account?<a href="{% url 'authentication:login' %}">Login here</a></span><br>
          <span class="mt-2">Don't have an account?<a href="{% url 'authentication:register' %}">Register here</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">

  </div>
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock content %}